@media print {
    @page {
        size: letter;
        margin:10mm;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;

    /*Offsets the negative margins for the whole grid that are needed to do a "border collapse" in .grid-item*/
    padding-top: 1px;
    padding-left: 1px;
}

.grid-item {
    position: relative;
    border: 1px solid;
    height: 50mm;
    width: 50mm;

    /*Causes a border collapse so lines between grid items aren't twice as thick as they should be*/
    margin-top: -1px;
    margin-left: -1px;

    display: grid;

    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "top-left    top-right"
        "bottom-left bottom-right";

    align-items: start;
    justify-items: start;

}

.top-left-group {
    grid-area: top-left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.75mm;
    margin-left: 1.5mm;
}

.top-right-group {
    grid-area: top-right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-left-group {
    grid-area: bottom-left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: end;
    margin-left: 1.5mm;
    margin-bottom: 0.5mm;
}

.bottom-right-group {
    grid-area: bottom-right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name {
    position: relative;
    top: 2px;
    left: 6px;
    align-self: flex-start;
    line-height: 1;
    
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.year {
    position: relative;
    align-self: flex-start;
    line-height: 1;

    font-family: 'Segoe UI';
    font-size: 17px;
}

.mint {
    position: relative;
    top: 0.5mm;
    left: 1mm;
    align-self: flex-start;
    line-height: 1;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

/*"P" looks bad in Lucida (the .mint style text) so this class should be added P mint divs*/
.p {
    font-family: Arial, Helvetica, sans-serif;
}

/*This was how I styled the center text. The text theme is coming together though so now I want a class for "note" style text
anyway. Also this isn't lining up properly after I changed to grid mode anyway. Leaving it here for reference, but when I get
the center text style working without this I can delete this*/
.old-note {
    position: static;
    margin-top: 27mm;

    width: auto;
    max-width: 80%;
    padding: 2mm 4mm;
    
    text-align: center;
    border-radius: 4px;

    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center-text {
    --headspace: 4.5mm
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: calc((var(--coin-size) / 2) + var(--headspace, 4.5mm))
}

.note {
    line-height:  1;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flag {
    position: absolute;
    top:1.5mm;
    right:1.5mm;
    height: 6.5mm;
}

.series-type {
    position: relative;
    left: 6px;
    align-self: flex-start;
    line-height: 1;
    
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.series {
    position: relative;
    left: 6px;
    align-self: flex-start;
    line-height: 1;
    
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ttb {
    bottom: -5px;
}

.id {
    position: absolute;
    bottom: 0mm;
    right: 1mm;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace; font-weight: bold;
}

.circle {
    /*Sets the size and border of the circle*/
    width: var(--coin-size);
    height: var(--coin-size);
    /*Border none so I don't get lines on cut outs. Set to 1px solid if you want to see it for reference*/
    border: solid;
    border-radius: 50%;
    /*Centers the circle and prevents it from influencing anything*/
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    /*The position and look of the + sign in the circle*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.cross {

    /*Transform so the circle cutter's center gauge lines up since it is slightly off*/
    transform: translate(-1px, -1px)
}