@media print {
    @page {
        size: letter;
        margin:10mm;
    }

    table {
        border-collapse: collapse;
    }
    
    td {
    width: 50mm;
    height: 50mm;
    border-style: solid;
    }

    .category {
        display: none !important;
    }

    .print-only {
        display: block !important;
        white-space: pre-wrap;
    }


}

table {
    border-collapse: collapse;
}

td {
    width: 50mm;
    height: 50mm;
    border-style: solid;
}

.print-only {
    display: none;
}

.category {
    display: block;
    top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
}

.grid-item {
    position: relative;
    border: 1px solid;
    height: 50mm;
    width: 50mm;
    display: flex;
}

.circle {
    /*Sets the size and border of the circle*/
    width: 20.5mm;
    height: 20.5mm;
    border: 1px solid;
    border-radius: 50%;
    /*Centers the circle and prevents it from influencing anything*/
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    /*The position and look of the + sign in the circle*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}