@media print {
    @page {
        size: letter;
        margin:10mm;
    }

    table {
        border-collapse: collapse;
    }
    
    td {
    width: 50mm;
    height: 50mm;
    border-style: solid;
    }

    input {
        display: none !important;
    }

    .print-only {
        display: inline !important;
    }


}

table {
    border-collapse: collapse;
}

td {
    width: 50mm;
    height: 50mm;
    border-style: solid;
}

.print-only {
    display: none;
}

.category {
    display: block;
    top: 10px;
}